Source: gliese
Section: non-free/science
Priority: optional
Maintainer: Francisco Manuel Garcia Claramonte <francisco@debian.org>
Uploaders: Javier Fernández-Sanguino Peña <jfs@debian.org>
Build-Depends: debhelper (>> 13.0.0), debhelper-compat (=13)
Standards-Version: 4.6.0.1
Homepage: http://starplot.org/datafiles.html
Vcs-Browser: https://salsa.debian.org/debian/gliese
Vcs-Git: https://salsa.debian.org/debian/gliese.git
XS-Autobuild: yes
Rules-Requires-Root: no

Package: gliese
Architecture: all
Depends: ${misc:Depends}
Suggests: stardata-common, gliese-viewer
Description: stellar data set from the Third Catalogue of Nearby Stars
 This package provides a star catalog which contains approximately
 3800 star records including the known stars nearer to Earth than
 approximately 80 light-years, taken from the Third Catalogue of Nearby
 Stars (preliminary edition), Gliese and Jahreiss, 1991.
 .
 This stellar data set may be viewed with the StarPlot program available
 from Debian, but can also be used with other astronomical software.
